<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.superb.upetstar.mapper.AdoptRecordMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.superb.upetstar.pojo.entity.AdoptRecord" id="petAdoptRecordMap">
        <result property="id" column="id"/>
        <result property="giveId" column="give_id"/>
        <result property="adoptId" column="adopt_id"/>
        <result property="auditId" column="audit_id"/>
        <result property="petId" column="pet_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="giveTime" column="give_time"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>